body {
  background-color: burlywood;
}
#logo {
  position: relative;
  top: 50px;
  margin-top: 100px;
}

a {
  position: absolute;
  top: 50%;
  left: 70%;
}
.container {
  position: relative;
  text-align: center;
}
h1 {
  color: antiquewhite;
  position: relative;
  top: 45%;
  left: 10%;
}
.top-right > a {
  color: brown;
  position: absolute;
  top: 8px;
  left: 30px;
}
